<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746561284495-24l53ivoii7mao527q0u7togd71qoe4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746561284495-24l53ivoii7mao527q0u7togd71qoe4l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>746561284495-gp3hnvhmatnrd7t96j93lkot0ng273p1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3SfYo2H-MLbY4r3A36BN6YTEI-WOWfKk</string>
	<key>GCM_SENDER_ID</key>
	<string>746561284495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.giftsery</string>
	<key>PROJECT_ID</key>
	<string>giftsery-login</string>
	<key>STORAGE_BUCKET</key>
	<string>giftsery-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746561284495:ios:5edc7ad0610e9c85af03fa</string>
	<key>DATABASE_URL</key>
	<string>https://giftsery-login.firebaseio.com</string>
</dict>
</plist>